/* Resetamos o css */
*{ 
    margin: 0;
    padding: 0;
}

/* Coloca o título no centro e mais para baixo */
header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333; /* Cor do texto em hexadecimal ou nome da cor */
    text-align: center;
}

.borda{
    border: 2px solid black;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    font-weight: bold
}

.borda:hover {
    background-color: #e0e0e0; /* Cor do fundo ao passar o mouse */
}


/* Faz as cores ficarem alinhadas, separadas e mais para baixo */
#color-palette{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#color-palette div{
    margin: 0 50px;
    margin-top: 30px;
    width: 100px; /* Altere o valor conforme necessário para a largura do quadrado */
    height: 100px; /* O mesmo valor da largura para garantir um quadrado */
    margin: 10px; /* Adicione margem para espaçamento entre os quadrados */
    float: left; /* Para posicionar os quadrados lado a lado */
  }

/* Altera as cores de fundo dos respectivos filhos e a borda sólida */
.color:nth-child(1) {
    color: white;
    border: solid black 1px;
    cursor: pointer;
    color: black;
}

.color:nth-child(2) {
    border: solid black 1px;
    cursor: pointer;
    color: red;
}

.color:nth-child(3) {
    border: solid black 1px;
    cursor: pointer;
    color: blue;
}

.color:nth-child(4) {
    border: solid black 1px;
    cursor: pointer;
    color: green;
}

/* Monta a grade de quadrados */
#pixel-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 20px; /* Ajustei a margem para dar mais espaçamento ao redor do grid */
    gap: 1px; /* Reduzindo o espaçamento entre os pixels */
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pixel-board:hover {
    background-color: #e0e0e0; /* Cor do fundo ao passar o mouse */
}

.pixel {
    border: 2px solid black; /* Aumentei a espessura da borda */
    width: 50px; /* Aumentei um pouco o tamanho do pixel */
    height: 50px; /* Aumentei um pouco o tamanho do pixel */
    background-color: #f0f0f0; /* Cor de fundo levemente cinza */
    font-size: 1.5em; /* Ajustei o tamanho da fonte */
    font-weight: bold; /* Deixei o texto em negrito */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Ajusta a posição dos botões */
#clear-board{
    margin-top: 40px;
    margin-left: 50px;
    }


.buttons button{
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor para uma mão ao passar o mouse */
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
.buttons button:hover {
    background-color:#f0f0f0; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3)
}

.buttons {
    text-align: center; /* Centraliza os botões no contêiner */
}